body {
  min-width: 400px;
  min-height: 550px;
  background-color: #eee;
  padding-bottom: 20px;
}

h5 {
	border-bottom:1px solid black;
}

#use-browser {
	position: absolute;
	right: 20px;
	top: 10px;
	cursor: pointer;
	font-size: 12px;
 }

#url {
	float: left;
	width:390px;
	resize: none;
}

textarea::-webkit-input-placeholder {
    padding-top:10%;
	text-align:center;
}

.alert {
	padding: 0px 35px 0px 14px;
}

.multi {
	clear: both;
	width:101%;	
	height:35px;
}

.multi .btn {
	float: left;
	display: block;
	width:43%;
}

.multi > .btn:last-child {
	margin-left: 1%;
}

.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.table {
	margin-top:15px;
	background-color: white;
}

.table th, .table td {
	max-width: 282px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.table td:last-of-type  {
	width: 5px;
	background-color: #da4f49;
	cursor: pointer;
}

.table td:last-of-type:hover  {
	box-shadow: 2px 1px 5px #888888;
}

.table td:last-of-type:active  {
	box-shadow: 1px 2px 19px #da4f49;
}

tr>th:first-of-type, tr>td:first-of-type  {
	max-width: 100px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.input-prepend {
	margin: 20px 0 -12px 0;
}

.input-prepend .add-on {
	font-weight: bold;
	width:20%;
}

#host {
	width:77%;
}
