body {
  min-width: 400px;
  min-height: 550px;
  overflow: hidden;
  background-color: #eee;
}

h5 {
	border-bottom:1px solid black;
}

.load {
	margin-top: 39px;
	float: left;
	width:150px;
 }

.or {
	float: left;
	margin-top: 40px;
	margin-left: 10px;
	margin-right:10px;
}

#url {
	float: left;
	width:195px;
	resize: none;
}

textarea::-webkit-input-placeholder {
    padding-top:10%;
	text-align:center;
}

.alert {
	padding: 0px 35px 0px 14px;
}

.multi {
	clear: both;
	width:101%;	
	height:35px;
}

.multi button {
	float: left;
	display: block;
	width:49%;
}

.multi > button:last-child {
	margin-left: 2%;
}

.table {
	margin-top:15px;
	background-color: white;
}

.table th, .table td {
	max-width: 282px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

tr>th:first-of-type, tr>td:first-of-type  {
	max-width: 100px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}